<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Codewords
      </h1>
      <h2 class="subtitle">
        Play codewords with your friends online
      </h2>
    </div>
  </div>
</section>

<h1 class="title is-1">Start a new game</h1>