<nav class="level">
  <div class="level-left">
    <h1 class="title is-3"><%= @game.name %></h1>
  </div>

  <div class="level-right is-pulled-right">
    <%= link_to("Start a new Game", new_game_url, class: "button is-link") %>
  </div>
</nav>

<br />

<div id="app"></div>

<%= javascript_pack_tag("game") %>
