<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Codewords is a development project. <br/>
      The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.<br/>
      View the code on <a href="https://github.com/truggeri/codewords-rails">Github</a>.
    </p>
  </div>
</footer>